.card {
    position: relative;
    width: 100%;
    height: 310px;
    border: 1px solid #555;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #fcfcfc;
    -webkit-box-shadow: -3px 0px 10px -4px rgba(0,0,0,0.5);
    -moz-box-shadow: -3px 0px 10px -4px rgba(0,0,0,0.5);
    box-shadow: -3px 0px 10px -4px rgba(0,0,0,0.5);
}

.card:hover {
    border: 1px solid #2f28a6;
}

.cardItem {
    position: relative;
    width: 100%;
    border: none;
}

.cardItem:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40%;
    text-align: center;
    /* background-color: #2f28a6; */
}

.cardItem:nth-child(2) {
    color: black;
    height: 55%;
    text-align: center;
    padding: 5px 0;
}

.cardItem:nth-child(3) {
    border-radius: 10px;
    width: 40%;
    border: 1px solid #555;
    height: 45px;
    padding: 7px 0;
    margin-bottom: 10px;
    text-align: center;
    font-size: 1rem;
    color: white;
    background-color: #2f28a6;
}

.cardButton:hover{
    background-color:  #1d1968;
    color: #ffffff;
}

.cardItem:nth-child(1)::before{
    content: "";
    display: block;
    position: absolute;
    width: 50%;
    height: 2px;
    background-image: linear-gradient(45deg, #2f28a6, #00ff1a, red);
    bottom: 0;
}

.cardTitle {
    color: black;
    position: relative;
    z-index: 1;
    font-size: 1.3rem;
    font-family: 'Noto Sans KR', sans-serif;
}

.imgCard {
    width: 50px;
    padding-top: 10px;
}

.cardButton {
    border: none;
    border-top: 1px solid #555;
    cursor: pointer;
    font-size: 1.3rem;
    color: #2f28a6;
    transition: .1s ease-in-out;
}

.cardParagraph {
    font-family: 'IBM Plex Sans', sans-serif;
}

.cardParagraph > span {
    display: block;
    font-weight: bold;
    margin-bottom: 3px;
}

@media screen and (max-width: 600px){
    .card {
        width: 350px;
    }
} 