.singUp-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    /* padding: 30px; */
    height: 80vh;
}

.side1 {
    display: flex;
    width: 50%;
    animation: statsAnimation .6s ease-out;
    animation-fill-mode: forwards;
}

.image-container img {
    width: 100%;
}

.side2 {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 10px;
    width: 50%;
    animation: formAnimation .6s ease-out;
    animation-fill-mode: forwards;
}

@keyframes formAnimation {
    0%{
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

.side2-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 10px;
}

.title-singup {
    text-align: center;
    font-family: 'Yusei Magic', sans-serif;
}

.title-singup h1 {
    margin: 0;
}

.form input:focus {
    background-color: none;
}

:focus::-webkit-input-placeholder { color: transparent; }

.buttons button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 20px;
    width: 320px;
    height: 50px;
    outline: none;
}

.buttons a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 20px;
    width: 300px;
    height: 50px;
    outline: none;
}

.signup-btn,
.login-btn {
    transition: all .1s ease-in;
    font-family: 'Yusei Magic', sans-serif;
    font-size: 1.4rem;
    background-color: #6C63FF;
    border-radius: 30px;
    border: none;
    color: white;
    box-shadow: 1px 1px 3px black;
    transition: all .1s ease-in;
}

.signup-btn:hover {
    background-color: #38339bd8;
}

.login-btn {
    background-color: transparent;
    color:#38339bd8;
    border: 1px solid #38339bd8;
}

.login-btn:hover {
    background-color: #e4e4e4;
}

.containerSignUp {
    position: relative;
}

.password-content {
    position: relative;
}

.username-content::before {
    background-image: url(../../img/user.svg);
}

.email-content::before {
    background-image: url(../../img/user.svg);
}

.password-content::before {
    background-image: url(../../img/padlock.svg);
}

@media screen and (max-width: 900px) {
    .side1 {
        display: none;
    }

    .side2 {
        padding: 100px;
    }
}

@media screen and (max-width: 540px) {
    .side1 {
        display: none;
    }

    .side2 {
        padding: 10px;
    }
}

.error {
    color: red;
    margin: 0;
    width: 320px;
    font-size: .8rem;
    font-style: italic;
}

.error-profile {
    text-align: center;
    width: 100%;
    font-size: .8rem;
    padding-bottom: 10px;
}