.singUp-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    /* padding: 30px; */
    height: 80vh;
}

.side1 {
    display: flex;
    width: 50%;
}

.image-container img {
    width: 100%;
}

.side2 {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 10px;
    width: 50%;
}

.side2-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 10px;
}

.title-singup {
    text-align: center;
    font-family: 'Yusei Magic', sans-serif;
}

.title-singup h1 {
    margin: 0;
}

.inputSingUp {
    background-color: transparent;
}

.inputSingUp {
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    width: 300px;
    height: 25px;
    display: flex;
    margin-top: 25px;
    padding: 5px;
    border: none;
    border-bottom: solid 1px black;
    outline: none;
}

.form input:focus {
    background-color: none;
}

:focus::-webkit-input-placeholder { color: transparent; }

.buttons button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 20px;
    width: 300px;
    height: 50px;
    outline: none;
}

.buttons a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 20px;
    width: 300px;
    height: 50px;
    outline: none;
}

.signup-btn {
    transition: all .1s ease-in;
    font-family: 'Yusei Magic', sans-serif;
    font-size: 1.400rem;
    background-color: #6C63FF;
    border-radius: 30px;
    border: none;
    color: white;
    box-shadow: 1px 1px 3px black;
}

.signup-btn:hover {
    transition: all .1s ease-in;
    font-family: 'Yusei Magic', sans-serif;
    font-size: 1.400rem;
    background-color: #6b63ffd8;
    border-radius: 30px;
    border: none;
    cursor: pointer;
}

.login-btn {
    transition: all .1s ease-in;
    font-family: 'Yusei Magic', sans-serif;
    font-size: 1.400rem;
    background-color: transparent;
    border-radius: 30px;
    border: solid 2px #6C63FF;
    color: #6C63FF;
    box-shadow: 1px 1px 3px black;
    text-decoration: none;
}

.login-btn:hover {
    transition: all .1s ease-in;
    font-family: 'Yusei Magic', sans-serif;
    font-size: 1.400rem;
    background-color: #6b63ff48;
    border-radius: 30px;
    border: solid 2px #6C63FF;
    color: white;
    cursor: pointer;
}

@media screen and (min-width: 1920px) {
    .title-singup {
        font-size: 30px;
        margin-bottom: 60px;
    }
    .inputSingUp {
        width: 700px;
        margin-bottom: 60px;
        font-size: 30px;
    }

    .buttons button {
        width: 700px;
        height: 80px;
        margin-bottom: 60px;
        border-radius: 40px;
    }
}

@media screen and (max-width: 900px) {
    .side1 {
        display: none;
    }

    .side2 {
        padding: 100px;
    }
}

@media screen and (max-width: 540px) {
    .side1 {
        display: none;
    }

    .side2 {
        padding: 10px;
    }
}

.error {
    color: red;
    margin: 0;
    width: 320px;
}

.error-profile {
    text-align: center;
    width: 100%;
    font-size: .8rem;
    padding-bottom: 10px;
}